.h1 { font-size: 32px }
.h2 { font-size: 24px }
.h3 { font-size: 18.72px }
.h4 { font-size: 16px }
.h5 { font-size: 13.28px }
.h6 { font-size: 10.72px }

[class^=h] {
font-weight: bold; 
display:block;
margin-top:8px;
margin-bottom:8px;
}


body {
background:#b7b7bc;
color:#000!important;
text-shadow:0px 0px 1px rgba(158,150,158,0.19), 0px 0px 0px rgba(50,58,50,0.07)!important;
letter-spacing:normal!important;
font-family:Times New Roman, serif!important;
}

.code { 
white-space:pre-wrap;
background: #e6e6e6; 
color: #000; 
font-size: 11pt;
font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.inline {
padding: 1px 4px;
}

.block {
padding:10px;
}

table {
border-spacing: 2px;
border:1px outset #808080;
margin:10px 0;
}

td    {
padding: 6px 9px;
border:1px inset #808080
}

h1 {
margin-bottom:15px
}